[Unit]
Description=Unlock registered KeePassXC databases
Wants=graphical.target
After=graphical.target

[Service]
Environment=PATH=/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/local/sbin
Restart=on-failure

LockPersonality=true
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
DeviceAllow=/dev/tpmrm0
#PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
ProtectSystem=full

ExecStart=/usr/local/sbin/keepassxc-unlock %i
